.cards{
  display: block;
  padding: 10px 0 40px;
}

.cards-container{
  display: flex;
}

.wrapper-cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.wrapper-cards-reverse{
  flex-direction: column-reverse;
}

.wrapper-cards-img{
  position: relative;
  overflow: hidden;
}

.wrapper-cards-img::after{
  content: ''; 
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)); 
  opacity: 0;
}

.wrapper-cards-img:hover:after {
  opacity: 1;
}

.wrapper-cards-img:hover .cards-img{
  transform: scale(1.2);
}

.microsoft-row{
  justify-content: space-around;
}

.microsoft-img-wrapper{
  max-width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .cards{
    display: block;
    padding: 25px 0 75px;
  }
  
  .cards-container{
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0 auto;
  }
  
  .wrapper-cards{
    flex-direction: row;
    width: 100%;
  }
  
  .wrapper-cards-reverse{
    flex-direction: row-reverse;
    width: 100%;
  }
  
  .wrapper-cards-img{
    width: 25%;
    max-width: 480px;
  }

  .microsoft-row{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}