:root {
  --blue-color: #34547A;
  --text-color: #727272;
  --heading-color: #000000;
  --white-text-color: #ffffff;
  --light-gray-bg-color: #EEEFF1;
  --progress-bg-color: #C4C4C4;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.main-heading {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.65;
}

.sub-heading {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.text {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.65;
}

.btn {
  font-size: 1rem;
  line-height: 1.65;
  letter-spacing: 10%;
  padding: 25px 41px;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  border: 0;
}

.btn:hover, .btn:focus {
  color: var(--heading-color);
  background-color: var(--light-gray-bg-color);
  border: solid 1px black;
}

.img {
  display: block;
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.bg-lite-gray{
  background-color: var(--light-gray-bg-color);
}

.white{
  color: var(--white-text-color);
}

.bg-blue{
  background: var(--blue-color);
}

.heading-margin {
  margin-bottom: 50px;
}

@media screen and (min-width: 576px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}