.form-section{
  padding: 70px 0;
  text-align: center;
}

.form-section-heading{
  margin-bottom: 50px;
}

.form-section-text{
  margin-bottom: 40px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-input{
  width: 90%;
  padding: 17px 20px;
}

.form-input-smoll{
  height: 50px;
  margin-bottom: 20px;
}

.form-input-massage{
  height: 175px;
  margin-bottom: 50px;
}

/* !не получилось выставить в верху текст "Сообщение" в placeholder*/

/* .form-input::placeholder{
  
} */

/* !не могу понять почему, когда я навожу на кнопку в форме у меня на пару пикселей смещается футер */

.form-btn-margins{
  margin: 0 auto;
  margin-bottom: 30px;
  width: 190px;
}

@media screen and (min-width: 768px) {
  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-input{
    width: 47%;
    margin-bottom: 40px;
  }

  .form-input-massage{
    width: 100%;
  }
}